<h2><%= @artist.name %></h2>
<h4><%= @artist.nationality %></h4>

<img class='artist-photo' src="<%= @artist.photo_url %>">
<%= image_tag @artist.photo_url %>

<h3>Songs <a href="/songs/new">(+)</a></h3>

<ul>
  <% @artist.songs.each do |song| %>
    <li>
      <a href="/songs/<%= song.id %>">
        <%= "#{song.title} (#{song.album})" %>
      </a>
    </li>
  <% end %>
</ul>
<br><%= link_to 'Edit', edit_artist_path(@artist) %><br>
<br><%= link_to 'Delete', (@artist), method: :delete %><br>
