<%= form_for([@users, @user.comments.build]) do |f| %>
<p>
  <%= f.label :author %><br>
  <%= f.text_field :author %><br>
</p>

<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %><br>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
