<%= render 'shared/nav' %>
<div class="row">
   <div class="col-lg-12">
     <h2>Reviews</h2><br>
   </div>
</div>
<%= link_to 'NEW Comment (+) ', new_comment_path %><br>
<br>

<% @comments.each do |comment| %>
  <%= comment.body %><br>
  <%= comment.author %>

<% end %>

<!-- <ul>
  <% @comments.each do |comment| %>
    <li>
      <a href="/comments/<%= comment.id %>">
        <%= "#{comment.author} - #{comment.body}" %>
      </a>
    </li>
  <% end %>
</ul> -->
