<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="listening-info"> You are listening to...
      </h1>
      <h2><%= link_to @song.title, @song.preview_url, target: '_blank' %></h2>
      <h3>By: <%= @song.artist_id %></h3>
      Album: <%= @song.album %></br>
    </div>
  </div>
</div>
<br><%= link_to 'Edit', edit_song_path(@song) %><br>
<br><%= link_to 'Delete', (@song), method: :delete %><br>
